body{
    font-family: pecita;
}
footer{
    background-color: aliceblue;
    text-align: center;
    position: center;
}

.sobre{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
h1{
    text-align: center;
    position: center;
}
}
