body{
    font-family: pecita;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: aliceblue;
}
.nav{
    text-align: center;
    position: center;
}

section{
    text-align: center;
    position: center;
}
h1{
    font-size: xx-large;
}

aside{
    text-align: center;
    position: center;
}

footer{
    background-color: aliceblue;
    text-align: center;
    position: center;
}